html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.overlay {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
}
body {
  margin: 0;
  padding: 1rem 7.7rem 1rem 7.7rem;
  font-size: 2.4rem;
  background-color: #181719;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  max-height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  z-index: 5;
}
nav p {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.8rem;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  transition: all 0.5s;
  z-index: 5;
}

.nav-links li {
  list-style-type: none;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #181719;
  transition: 0.5s all;
}

.nav-links li:hover,
.mobile-nav ul li:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.hamburger {
  display: none;
  transition: all 3s ease;
  cursor: pointer;
}

/* Mobile Nav Styles */
.hamburger .line {
  width: 2.5rem;
  height: 2px;
  margin: 0.5rem;
  background-color: #fafafa;
  transition: all 0.5s;
}

/* MAIN SECTION STYLES */

main {
  margin-top: 10.3rem;
  display: flex;
  justify-content: space-between;
}

.main__content {
  width: 50%;
  padding-right: 8.7rem;
}

.main__content p {
  font-size: 2rem;
  line-height: 2.9rem;
  display: block;
  width: 80%;
}

.main__content a,
a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}
.main__image {
  width: 60%;
  position: relative;
  top: -6rem;
}

.main__content h1 {
  font-family: "Lora", serif;
  font-size: 4.8rem;
}

.interior-image {
  width: 100%;
  z-index: 2;
}

.card {
  width: 35.1rem;
  height: 10.9rem;
  padding: 3.4rem 2.6rem;
  background-color: #181719;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-shadow: 0 0 4px #000;
  position: relative;
  bottom: 12rem;
  left: 14rem;
}

.card__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__profile-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.card__profile-title {
  display: flex;
  flex-flow: column nowrap;
}

.card__profile-title-name {
  font-size: 1.4rem;
  margin: 0;
}

.card__profile-title-position {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.8rem;
  color: #828282;
}

.card__text {
  font-family: "Lora", serif;
  display: block;
  width: 70%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    padding: 1.9rem 1.2rem;
    overflow: scroll;
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
    transition: all 3s;
  }
  .nav-links {
    position: absolute;
    top: 11vh;
    right: 0;
    width: 100%;
    background-color: #181719;
    /* background-color: red; */
    transform: translateX(100%);
    height: 89vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 8;
  }

  main {
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 4.5rem;
    align-items: center;
  }
  .main__content {
    padding: 0;
    width: 100%;
  }
  .main__content h1 {
    font-size: 3.6rem;
  }
  .main__content p {
    font-size: 1.4rem;
  }

  .main__image {
    width: 100%;
    top: 0;
    margin-top: 2.5rem;
    z-index: 2;
  }
  .card {
    width: 70%;
    bottom: 12rem;
    left: 4rem;
  }
  .card__profile-title-name {
    font-size: 1.2rem;
  }
  .card__profile-title-position {
    font-size: 1rem;
  }
  .card__text {
    font-size: 1.8rem;
  }
}

.nav-active {
  transform: translateX(0);
}

.hamburger-active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.hamburger-active .line2 {
  opacity: 0;
}
.hamburger-active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
